@use "../utils/variables"as *;
@use "sass:math";

@function calculateRem($size) {
    $remSize: math.div($size, 16px);
    @return $remSize * 1rem;
}

// EM CALC

@function calculateEm($pixels, $context: $browser-context) {
    @if (math.is-unitless($pixels)) {
        $pixels: $pixels * 1px;
    }

    @if (math.is-unitless($context)) {
        $context: $context * 1px;
    }

    @return math.div($pixels, $context) * 1em;
}