// Lorsqu'on a pas de paramètres sur une mixin, plutôt utiliser des placeholders !
// S'utilise avec @extend

%flex-jc-sb {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

// => See Mixin : @include enableFlex();
// %flex-jc-c {
//     display: flex;
//     justify-content: center;
//     align-items: center;
// }

%flex-ai-c {
    display: flex;
    align-items: center;
}

%flex-ai-fe-jc-fe {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}