// Default browser valuer

$browser-context: 16;

// Spaces

$layout-padding: 1.25rem;
$padding-top-bot: 1.25rem 0;

// Gap & Layout Margin/Padding

// $wrapper-margin: 6rem;
// $wrapper-padding: $wrapper-margin * .25;

// COLORS 
$color-light: rgb(212, 212, 212);
$color-light-hover: lighten($color-light, 15%);
$color-light-shadow: rgba(47, 65, 96, 0.05);
$color-light-overlay: rgba(212, 212, 212, .3);
$color-light-input: rgba(227, 227, 227, .8);
$color-light-placeholder: rgba(9, 31, 67, .3);

$color-dark: rgb(9, 31, 67);
$color-dark-hover: lighten($color-dark, 15%);
$color-dark-shadow: rgba(9, 31, 67, .05);
$color-dark-overlay: rgba(47, 65, 96, .4);
$color-dark-input: rgba(9, 31, 67, .25);
$color-dark-placeholder: rgb(212, 212, 212, .7);

$colors: (1: #9AACCB,
  2: #FA8E95,
  3: #525252,
  4: #94282F,
);


// COLOR THEMES 
// Light theme coloring
:root {
  --color-page-bg: #{$color-light};
  --color-text: #{$color-dark};
  --color-text-hover: #{$color-dark-hover};
  --color-border: #{$color-dark-hover};
  --color-shadow: #{$color-dark-shadow};
  --color-overlay: #{$color-light-overlay};
  --color-input: #{$color-light-input};
  --color-placeholder: #{$color-light-placeholder};
  --color-shape1: #{map-get($colors, 1)};
  --color-shape2: #{map-get($colors, 2)};
}

// Dark theme coloring
:root[data-theme="dark"] {
  --color-page-bg: #{$color-dark};
  --color-text: #{$color-light};
  --color-text-hover: #{$color-light-hover};
  --color-border: #{$color-light-hover};
  --color-shadow: #{$color-light-shadow};
  --color-overlay: #{$color-dark-overlay};
  --color-input: #{$color-dark-input};
  --color-placeholder: #{$color-dark-placeholder};
  --color-shape1: #{map-get($colors, 3)};
  --color-shape2: #{map-get($colors, 4)};
}