// Default browser valuer

$browser-context: 16;

// Spaces

$layout-padding: 1.25rem;
$padding-top-bot: 1.25rem 0;

// Gap & Layout Margin/Padding

// $wrapper-margin: 6rem;
// $wrapper-padding: $wrapper-margin * .25;

// COLORS 
$color-light: rgb(212, 212, 212);
$color-light-hover: lighten($color-light, 15%);
$color-light-shadow: rgba(47, 65, 96, 0.1);
$color-light-shadow2: none;
$color-light-overlay: rgba(212, 212, 212, .3);
$color-light-input: rgba(227, 227, 227, .8);
$color-light-thin-border: rgba(246, 246, 246, .3);
$color-light-input-error: rgba(183, 32, 32, 0.7);
$color-light-btn-danger: rgba(186, 78, 85, .8);
$color-light-btn-success: rgba(39, 174, 96, .8);
$color-light-input-valid: rgba(74, 187, 36, 0.7);
$color-light-placeholder: rgba(47, 65, 96, 0.45);
$color-light-post-bg: rgb(9, 20, 38);

$color-dark: rgb(9, 31, 67);
$color-dark-hover: lighten($color-dark, 15%);
$color-dark-shadow: rgba(9, 31, 67, .05);
$color-dark-shadow2: rgba(0, 0, 0, .05);
$color-dark-overlay: rgba(47, 65, 96, .4);
$color-dark-input: rgba(9, 31, 67, .25);
$color-dark-thin-border: rgba(9, 31, 67, .3);
$color-dark-input-error: rgba(236, 22, 22, 0.7);
$color-dark-btn-danger: rgba(186, 78, 85, .8);
$color-dark-btn-success: rgba(39, 174, 96, .8);
$color-dark-input-valid: rgba(79, 248, 23, 0.7);
$color-dark-placeholder: rgba(212, 212, 212, .7);
$color-dark-post-bg: rgb(9, 20, 38);

$colors: (1: #9AACCB,
  2: #FF8A93,
  3: #525252,
  4: #9B1B24,
);


// COLOR THEMES 
// Light theme coloring
:root {
  --color-page-bg: #{$color-light};
  --color-text: #{$color-dark};
  --color-text-hover: #{$color-dark-hover};
  --color-border: #{$color-dark-input};
  --color-border-thin: #{$color-dark-thin-border};
  --color-shadow: #{$color-dark-shadow};
  --color-shadow2: #{$color-dark-shadow2};
  --color-overlay: #{$color-light-overlay};
  --color-input: #{$color-light-input};
  --color-input-error: #{$color-light-input-error};
  --color-btn: #{$color-light-btn-danger};
  --color-input-valid: #{$color-light-input-valid};
  --color-placeholder: #{$color-light-placeholder};
  --color-shape1: #{map-get($colors, 1)};
  --color-shape2: #{map-get($colors, 2)};
  --color-post: #{$color-light};
}

// Dark theme coloring
:root[data-theme="dark"] {
  --color-page-bg: #{$color-dark};
  --color-text: #{$color-light};
  --color-text-hover: #{$color-light-hover};
  --color-border: #{$color-light-placeholder};
  --color-border-thin: #{$color-light-thin-border};
  --color-shadow: #{$color-light-shadow};
  --color-shadow2: #{$color-light-shadow2};
  --color-overlay: #{$color-dark-overlay};
  --color-input: #{$color-dark-input};
  --color-input-error: #{$color-dark-input-error};
  --color-btn: #{$color-dark-btn-danger};
  --color-input-valid: #{$color-dark-input-valid};
  --color-placeholder: #{$color-dark-placeholder};
  --color-shape1: #{map-get($colors, 3)};
  --color-shape2: #{map-get($colors, 4)};
  --color-post: #{$color-dark-post-bg};
}