*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    // 10px div by def of 16px ==>> 62.5%
    // 100% is better for zoom consistence
    font-size: 100%;
    box-sizing: border-box;
}

body {
    background-color: var(--color-page-bg);
}

html,
body {
    max-width: 100%;
    overflow-x: hidden;
}