.feeds {
    @extend %flex-ai-c;
    flex-direction: column;
    gap: calculateRem(40px);

    @include breakpoint-down(medium) {
        gap: calculateRem(35px);
    }

    @include breakpoint-down(small) {
        gap: calculateRem(25px);
    }

    &__filterMenu {
        @extend %flex-jc-sb;
        width: 60vw;
        height: 70px;

        @include breakpoint-down(medium) {
            width: 70vw;
        }

        @include breakpoint-down(small) {
            width: 90vw;
        }
    }
}