.feeds-header {
    @include box_shadow(2);

    &__container {
        max-width: 1500px;
        margin: 0 auto;
        @extend %flex-jc-sb;
        padding: $layout-padding $layout-padding*1.5 $layout-padding/2 $layout-padding*1.5;

        @include breakpoint-down(small) {
            padding: $layout-padding/1.5 $layout-padding/1.6 $layout-padding/1.5 $layout-padding/1.6;
        }
    }

    &__logo {
        @include enableFlex;

        svg {
            width: calculateEm(50px);
            height: calculateEm(50px);
            margin-right: calculateEm(17px);

            @include breakpoint-down(medium) {
                height: calculateEm(46px);
                width: calculateEm(46px);
            }

            @include breakpoint-down(small) {
                height: calculateRem(27px);
                width: calculateRem(27px);
                margin-right: calculateEm(12px);
            }
        }

        h1 {
            @include fluid-type(calculateRem(360px), calculateRem(1024px), calculateRem(20px), calculateRem(52px));
            padding-bottom: calculateEm(10px);
        }
    }

    &__nav {
        @extend %flex-jc-sb;
        gap: calculateEm(40px);

        @include breakpoint-down(medium) {
            gap: calculateEm(27px);
        }

        @include breakpoint-down(small) {
            gap: calculateEm(19px);
        }
    }

    &__navProfile {
        background-color: transparent;
        border-radius: 100%;
        border: 1px solid var(--color-border);
        width: calculateRem(70px);
        height: calculateRem(70px);

        &:hover {
            border: 2px dashed var(--color-border);
            transition: border .4s ease-in-out;
            cursor: pointer;
        }


        @include breakpoint-down(medium) {
            width: calculateRem(60px);
            height: calculateRem(60px);
        }

        @include breakpoint-down(small) {
            width: calculateRem(45px);
            height: calculateRem(45px);
        }

        img {
            width: 100%;
        }
    }

    &__navLogout svg {
        width: calculateEm(27px);
        height: calculateEm(27px);

        &:hover path {
            fill: var(--color-text-hover);
            transition: fill .4s ease-in-out;
        }

        &:hover path:nth-child(2) {
            transform: translateX(3px);
            transition: transform .4s ease-in-out;
        }
    }
}