.feeds {
    @extend %flex-ai-c;
    flex-direction: column;
    gap: calculateRem(30px);

    @include breakpoint-down(medium) {
        gap: calculateRem(25px);
    }

    @include breakpoint-down(small) {
        gap: calculateRem(20px);
    }

    &__filterMenu {
        @extend %flex-jc-sb;
        width: 60vw;
        height: 70px;

        @include breakpoint-down(medium) {
            width: 90vw;
        }

        @include breakpoint-down(small) {
            width: 90vw;
            flex-direction: column-reverse;
        }
    }
}

.postsList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}

.postCard {
    position: relative;
    background: var(--color-post);
    padding: $layout-padding;
    border-radius: calculateRem(25px);
    width: 65vw;
    max-width: 950px;
    margin: 1rem;

    @include box_shadow(2);

    @include breakpoint-down(medium) {
        width: 85vw;
        max-width: 700px;
    }

    @include breakpoint-down(small) {
        width: 90vw;
    }

    &:hover {
        .postCard__bodyMedia {
            filter: contrast(100%);
        }
    }

    &__header {
        display: flex;
    }

    &__profileAvatar {
        height: calculateRem(60px);
        width: calculateRem(60px);
        margin-right: calculateRem(14px);
        border: 1px solid var(--color-border);
        border-radius: 100%;
        object-fit: cover;

        @include breakpoint-down(small) {
            height: calculateRem(45px);
            width: calculateRem(45px);
        }
    }

    &__profilePseudo {
        @include fluid-type(calculateRem(320px), calculateRem(1024px), calculateRem(16px), calculateRem(18px));
        font-weight: 600; //semibold
    }

    &__postCreated {
        @include fluid-type(calculateRem(320px), calculateRem(1024px), calculateRem(12px), calculateRem(14px));
        font-weight: 200; //lightItalic
        margin-top: calculateEm(1.5px);
        line-height: 14px;
    }

    &__editBtn {
        position: absolute;
        top: calculateRem(17px);
        right: calculateRem(26px);
        cursor: pointer;

        &:hover {
            transform: scale(1.3);
            transition: transform .3s ease-in;
        }

        &:hover path {
            fill: var(--color-text-hover);
        }

        @include breakpoint-down(medium) {
            top: calculateRem(15px);
            right: calculateRem(24px);
        }

        @include breakpoint-down(small) {
            width: 16px;
            height: 16px;
            top: calculateRem(13px);
            right: calculateRem(18px);

            &:hover {
                transform: scale(1.2);
                transition: transform .3s ease-in;
            }
        }
    }

    &__body {
        @include enableFlex(true);
        gap: calculateRem(22px);
        padding: $layout-padding 0;
        position: relative;

        @include breakpoint-down(medium) {
            gap: calculateRem(18px);
        }

        @include breakpoint-down(small) {
            gap: calculateRem(10px);
        }

        &:before {
            content: "";
            position: absolute;
            bottom: 0;
            height: 1px;
            width: 90%;
            border-bottom: 1px solid var(--color-border-thin);
        }
    }

    &__bodyMedia {
        object-fit: cover;
        max-width: 80%;
        max-height: 600px;
        filter: contrast(85%);
        transition: filter 0.5s cubic-bezier(.43, .41, .22, .91);
    }

    &__bodyContent {
        align-self: flex-start;
    }

    &__comment {
        display: flex;
        gap: 10px;
        margin-top: calculateRem(10px);
        padding-top: calculateRem(10px);
    }

    &__commentAvatar {
        height: calculateRem(50px);
        width: calculateRem(50px);
        margin: 0 $layout-padding*.5;
        border: 1px solid var(--color-border);
        border-radius: 100%;
        object-fit: cover;

        @include breakpoint-down(small) {
            height: calculateRem(35px);
            width: calculateRem(35px);
        }
    }

    &__commentRight {
        margin-top: calculateRem(1.5px);
    }

    &__commentContent {
        margin-top: calculateRem(15px);
        padding: $layout-padding*.4 $layout-padding*.7;
        background: $color-light;
        color: $color-dark;
        border-radius: 25px;
        border: 1px solid var(--color-placeholder);
        max-width: 90%;
        position: relative;
        display: flex;
        align-items: center;

        @include breakpoint-down(small) {
            max-width: 100%;
        }
    }

    &__commentEdit {
        position: absolute;
        right: -40px;
        // transform: translate(-50%, -50%);
        cursor: pointer;

        &:hover {
            transform: scale(1.3);
            transition: transform .3s ease-in;
        }

        &:hover path {
            fill: var(--color-text-hover);
        }

        @include breakpoint-down(medium) {
            right: -35px;
        }

        @include breakpoint-down(small) {
            left: -40px;
        }
    }
}