.newPost {
    margin-top: calculateEm(35px);
    cursor: pointer;
    background: var(--color-post);
    transition: background-color 0.4s;
    padding: calculateRem(18px) calculateRem(28px);
    border-radius: calculateRem(25px);
    height: calculateRem(80px);
    @include enableFlex;
    position: relative;
    @include box_shadow(3);

    @include breakpoint-down(medium) {
        height: calculateRem(70px);
        padding: calculateRem(16px) calculateRem(22px);
    }

    @include breakpoint-down(small) {
        height: calculateRem(45px);
        padding: calculateRem(2px) calculateRem(12px);
    }

    &__Profile {
        height: calculateRem(50px);
        margin-right: calculateRem(15px);
        border: 1px solid var(--color-border);
        border-radius: 100%;

        @include breakpoint-down(small) {
            height: calculateRem(30px);
            margin-right: calculateRem(10px);
        }
    }

    &__Input {
        @include fluid-type(calculateRem(360px), calculateRem(1024px), calculateRem(14px), calculateRem(16px));
        border: 1px solid rgba($color-light-placeholder, .3);
        cursor: pointer;
        position: relative;
        font-weight: normal;
        border-radius: calculateRem(50px);
        padding: calculateEm(8px);
        width: 38vw;
        min-width: calculateRem(240px);

        &:focus-visible {
            outline-color: var(--color-post);
        }

        &:disabled {
            background-color: $color-light;
        }

        &::placeholder {
            color: $color-dark-input;
        }

        @include breakpoint-down(medium) {
            width: 50vw;
        }

        @include breakpoint-down(small) {
            padding: calculateEm(4px);
        }
    }

    &__Icon1 {
        position: absolute;
        right: calculateRem(35px);

        @include breakpoint-down(small) {
            right: calculateRem(16px);
            width: calculateRem(14px);
        }
    }

    &__Icon2 {
        position: absolute;
        right: calculateRem(65px);

        @include breakpoint-down(small) {
            right: calculateRem(38px);
            width: calculateRem(14px);
        }
    }
}

:root[data-theme="dark"] .newPost__Profile {
    filter: invert(86%) sepia(28%) saturate(0%) hue-rotate(220deg) brightness(93%) contrast(96%);
    transition: filter .2s ease-in;
}