.modal {
    position: fixed;
    top: 20%;
    background: var(--color-post);
    padding: $layout-padding $layout-padding*2;
    border-radius: calculateRem(25px);
    box-shadow: 0px 10px 5px 2px var(--color-shadow2);
    display: flex;
    flex-direction: column;
    gap: calculateRem(5px);
    width: 80vw;

    @include breakpoint-down(medium) {
        padding: calculateRem(25px) calculateRem(35px);
        gap: unset;
        top: 18%;
        overflow-y: auto;
        max-height: calc(100vh - 150px);
    }

    @include breakpoint-down(small) {
        padding: calculateRem(10px) calculateRem(10px);
        top: 12%;
        overflow-y: auto;
        max-height: calc(100vh - 150px);
    }

    &-bg {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: rgba($color: #000000, $alpha: 0.6);
        @include enableFlex();
    }

    &__title {
        padding: $layout-padding 0;
        @include enableFlex(true);
        position: relative;

        &:before {
            content: "";
            position: absolute;
            bottom: 0;
            height: 1px;
            width: 100%;
            border-bottom: 1px solid var(--color-border-thin);
        }
    }

    .close-btn {
        position: absolute;
        color: var(--color-text);
        top: calculateRem(25px);
        right: calculateRem(25px);
        @include fluid-type(calculateRem(360px), calculateRem(1024px), calculateRem(14px), calculateRem(16px));
        background: none;
        border: none;
        cursor: pointer;

        &:hover {
            transform: scale(1.3);
            transition: transform .3s ease-in;
        }

        @include breakpoint-down(medium) {
            top: calculateRem(20px);
            right: calculateRem(20px);
        }

        @include breakpoint-down(small) {
            top: calculateRem(12px);
            right: calculateRem(15px);
        }
    }

    &__user {
        display: flex;
        align-items: center;
        gap: calculateRem(28px);
        margin-top: calculateRem(15px);
    }

    &__userAvatar {
        border-radius: 100%;
        width: calculateRem(100px);

        // @include breakpoint-down(medium) {
        //     width: calculateRem(150px);
        // }

        // @include breakpoint-down(small) {
        //     width: calculateRem(100px);
        // }
    }

    &__form {
        display: flex;
        gap: $layout-padding*.7;
        padding: $layout-padding*.5 0;

        @include breakpoint-down(medium) {
            flex-direction: column;
        }
    }

    &__formLeft {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 69%;

        @include breakpoint-down(medium) {
            width: 100%;
        }
    }

    &__formRight {
        @extend %flex-jc-se;
        flex-direction: column;
        flex-grow: 1;
        border: 3px dashed var(--color-border-thin);
        border-radius: calculateRem(12.5px);
        padding: $layout-padding*.5 $layout-padding;
        margin-top: calculateRem(50px);

        @include breakpoint-down(medium) {
            margin-top: 0;
            flex-direction: row;
            gap: calculateRem(20px);
        }
    }

    &__formTitle {
        padding: calculateRem(10px) 0;
    }

    &__formTitleInput {
        font-weight: normal; // 400
        width: 100%;
        min-width: calculateRem(220px);
        // min-width: calculateRem(350px);
        @include fluid-type(calculateRem(360px), calculateRem(1024px), calculateRem(14px), calculateRem(16px));
        background-color: $color-light;
        font-family: 'Montserrat',
            sans-serif;
        border: 1px solid rgba($color-light-placeholder, .3);
        border-radius: 12.5px;
        padding: calculateEm(12px);
        margin-top: calculateRem(8px);

        &:focus-visible {
            outline-color: var(--color-post);
        }

        &::placeholder {
            color: $color-dark-input;
        }

        @include breakpoint-down(medium) {
            margin-top: calculateRem(10px);
            padding: calculateEm(10px);
        }

        @include breakpoint-down(small) {
            margin-top: calculateRem(6px);
            padding: calculateEm(8px);
        }
    }

    &__formField {
        @include fluid-type(calculateRem(360px), calculateRem(1024px), calculateRem(14px), calculateRem(16px));
        border: 1px solid rgba($color-light-placeholder, .3);
        background: $color-light;
        cursor: pointer;
        font-family: 'Montserrat',
            sans-serif;
        border-radius: 12.5px;
        padding: calculateEm(10px) calculateEm(10px);
        width: 100%;
        height: calculateRem(300px);
        overflow: hidden;
        box-sizing: border-box;
        resize: none;

        &:focus-visible {
            outline-color: var(--color-post);
        }

        &:disabled {
            background-color: $color-light;
        }

        &::placeholder {
            color: $color-dark-input;
        }
    }

    &-enter-active,
    &-leave-active {
        transition: all 0.3s ease;
    }

    &-enter-from,
    &-leave-to {
        opacity: 0;
        transform: scale(1.1);
    }

    &__uploadIcon {
        @include enableFlex(true);
        text-align: center;

        @include breakpoint-down(small) {
            display: none;
        }

        &+span {
            @include breakpoint-down(small) {
                display: none;
            }
        }
    }

    &__uploadFileInput {
        display: none;
    }

    &__uploadButton {
        padding: calculateRem(3px) calculateRem(8px);
        border-radius: calculateRem(20px);
        border: 1px solid var(--color-border);
        background-color: transparent;
        transition: background-color 0.4s;
        color: var(--color-text);
        @include fluid-type(calculateRem(360px), calculateRem(1024px), calculateRem(12px), calculateRem(14px));
        cursor: pointer;

        &:hover {
            cursor: pointer;
            color: var(--color-page-bg);
            background-color: var(--color-text);
        }
    }

    &__btnContainer {
        @extend %flex-jc-se;
        margin: $layout-padding*.5 0;
    }
}

// :root[data-theme="dark"] .modal__userAvatar {
//     filter: invert(86%) sepia(28%) saturate(0%) hue-rotate(220deg) brightness(93%) contrast(96%);
//     transition: filter .2s ease-in;
// }