.switch {
    position: relative;
    display: inline-block;
    width: 76px;
    height: 32px;

    @include breakpoint-down(medium) {
        width: 60px;
        height: 25px;
    }

    @include breakpoint-down(small) {
        width: 44px;
        height: 18px;
    }

    &:focus-visible {
        outline: none;
    }

    &__input {
        opacity: 0;
        width: 0;
        height: 0;

        &:focus+.switch__slider {
            border: 1px solid var(--color-input);
            transition: none;
        }

        &:checked+.switch__slider {
            background-color: rgb(212, 212, 212);
        }

        &:checked+.switch__slider::before {
            transform: scale(0.8) translateX(45px) translateY(-5px) rotate(120deg);
            background: transparent;
            box-shadow: 0 -10px 0 0 rgb(6, 6, 101);

            @include breakpoint-down(medium) {
                transform: scale(0.8) translateX(35px) translateY(-3px) rotate(120deg);
                box-shadow: 0 -8px 0 0 rgb(6, 6, 101);
            }

            @include breakpoint-down(small) {
                transform: scale(0.8) translateX(26px) translateY(-1px) rotate(120deg);
                box-shadow: 0 -5px 0 0 rgb(6, 6, 101);
            }
        }
    }

    &__slider {
        @include absolute-el(0, 0, 0, 0, 0, 0);
        cursor: pointer;
        @include box_shadow(2);
        background-color: rgb(9, 29, 61);
        border-radius: 34px;
        -webkit-transition: .4s;
        transition: .4s ease;

        &:before {
            position: absolute;
            content: "";
            height: 24px;
            width: 24px;
            left: 4px;
            bottom: 4px;
            background-color: rgb(194, 174, 75);
            -webkit-transition: .4s;
            transition: .4s ease;
            border-radius: 50%;

            @include breakpoint-down(medium) {
                width: 17px;
                height: 17px;
            }

            @include breakpoint-down(small) {
                width: 12px;
                height: 12px;
            }
        }

        &:focus-visible {
            outline: none;
        }
    }
}