.loginForm {
    @extend %flex-ai-c;
    flex-direction: column;
    padding: $layout-padding*2 $layout-padding;
    row-gap: 15px;
    align-content: center;

    @include breakpoint-down(medium) {
        padding: $layout-padding*1.5 $layout-padding;
        row-gap: 10px;
    }

    @include breakpoint-down(small) {
        padding: $layout-padding $layout-padding;
        row-gap: 5px;
    }


    &__input {
        font-weight: normal; // 400
        width: 25vw;
        min-width: calculateRem(220px);
        // min-width: calculateRem(350px);
        @include fluid-type(calculateRem(360px), calculateRem(1024px), calculateRem(14px), calculateRem(16px));
        color: var(--color-text);
        background-color: var(--color-input);
        transition: background-color 0.4s;
        border: unset;
        border-radius: 12.5px;
        padding: calculateEm(12px);
        margin-top: calculateRem(12px);
        outline-color: var(--color-input);

        &:focus {
            outline-color: var(--color-input);
        }

        &:focus-visible {
            outline-color: var(--color-input);
        }

        &::placeholder {
            color: var(--color-placeholder);
        }

        @include breakpoint-down(medium) {
            margin-top: calculateRem(10px);
        }

        @include breakpoint-down(small) {
            margin-top: calculateRem(6px);
        }
    }

    &__label {
        align-self: flex-start;
        font-weight: normal; // 400
        @include fluid-type(calculateRem(360px), calculateRem(1024px), calculateRem(14px), calculateRem(16px));
        margin-top: $layout-padding*1.5;

        @include breakpoint-down(medium) {
            margin-top: $layout-padding*1.25;
        }

        @include breakpoint-down(small) {
            margin-top: $layout-padding;
        }
    }

    &__box {
        @extend %flex-ai-c;
        flex-direction: column;
    }

    &__forgotPsw {
        @include fluid-type(calculateRem(360px), calculateRem(1024px), calculateRem(12px), calculateRem(14px));
        align-self: flex-end;
        margin-top: calculateRem(6px);
        margin-right: calculateRem(4px);

        &:hover {
            cursor: pointer;
        }
    }

    &__joke {
        @include fluid-type(calculateRem(360px), calculateRem(1024px), calculateRem(12px), calculateRem(14px));
        align-self: flex-end;
        text-align: end;
        width: 180px;
        margin-top: calculateRem(4px);
    }
}

.btn {
    margin-top: calculateEm(70px);
    margin-bottom: calculateEm(30px);

    @include breakpoint-down(medium) {
        margin-top: calculateEm(50px);
        margin-bottom: calculateEm(20px);
    }

    @include breakpoint-down(small) {
        margin-top: calculateEm(40px);
        margin-bottom: calculateEm(20px);
    }
}