.switch {
    position: relative;
    display: inline-block;
    width: 100px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: darkblue;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: rgb(214, 186, 59);
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: rgb(212, 212, 212);
}

// input:focus+.slider {
//     box-shadow: 0 0 1px darkblue;
// }

input:checked+.slider:before {
    transform: scale(0.8) translateX(70px) translateY(-5px) rotate(120deg);
    border-radius: -15px 15px 0 5px;
    background: transparent;
    box-shadow: 0 -10px 0 0 rgb(6, 6, 101);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}